==========================================

Dependencies

==========================================

node_modules/
.pnpm-store/

==========================================

Build outputs & Caches

==========================================

dist/
build/
.turbo/
/.turbo
.cache/
*.tsbuildinfo
.eslintcache

==========================================

Environment Variables (Security)

==========================================

.env
.env.*
!.env.example
!.env.template

==========================================

Logs & Runtime data

==========================================

logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pids
*.pid
*.seed
*.pid.lock

==========================================

Testing

==========================================

coverage/
.nyc_output/

==========================================

IDEs and OS Specific

==========================================

.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
